<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="kuxu.nagoya.keyalens">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="KeyaLens.Droid" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>